<div class="main-content">
    <h3 class="main-heading">
   
   <% if(businessinfo!=undefined) {%> 
    <% for( let index = 0; index < businessinfo.length; index++ ) { %>
   <%=  businessinfo[index].heading %> 
        <% }} %> 
        </h3>
    </div>   
 