<section>
    <button class="accordion">Paul Noah
    </button>
    <div class="panel">
    <p>"I recently used Jobament for a plumbing repair, and I couldn't be happier with the service. From the moment I called, the customer service was top-notch. The technician arrived promptly, assessed the issue, and fixed it efficiently. What impressed me most was their transparency about pricing - no hidden fees or surprises. I highly recommend Jobament for their professionalism, reliability, and fair pricing.</p>
    </div>
    <button class="accordion">John Say</button>
    <div class="panel">
    <p>"I've been using Jobament for routine lawn maintenance for over a year now, and I'm consistently impressed. Their lawn care team is reliable, and they always leave my yard looking pristine. They go the extra mile to ensure my landscaping looks its best. The best part is the affordability of their services. I highly recommend Jobament to anyone looking for top-quality home services at a great price."</p>
    </div>
    <button class="accordion">Musa Mansa
    </button>
    <div class="panel">
    <p>"Choosing Jobament for our home renovation project was the best decision we made. They transformed our outdated kitchen into a modern masterpiece. The craftsmanship and attention to detail were outstanding. The project was completed on time, and the team was a pleasure to work with. Our family now enjoys a beautiful and functional space, thanks to Jobament. We'll definitely be using their services again for our next home improvement project."</p>
    </div>
    <script>
        var acc = document
.getElementsByClassName("accordion");
var i;
for (i = 0; i < acc.length; i++) {
acc[i].onclick = function(){
this.classList.toggle("active");
this.nextElementSibling.classList
.toggle("show");
}
}
    </script>
</section>
