<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
      <body>
  <dialog open class="dialog">
    <h1> </h1>
      <h2> Booking updated with Booking Id : <%=quickuserTranc.bookingId%>
        <br>Check your email for comfirmation..</h2>
      <br><h3>Users without account should click <span>
        <a style="color: red;"
         href="/quickuser/<%=quickuserTranc.bookingId%> "> here </a>
        </span>for booking history</h3>
      <form method='dialog'>
      <button id='ok'class="btn"   onclick='hide();'>Close</button>
      <span><center style="color: red;"> <h3></h3>Pls don't refresh the browser at the moment. </h3></center></span>
    <br>
    </form>
      </dialog> 
      </body>
      </html>
      <script>
      function hide(){
      window.location.href='/';
      }
               </script>
      
               <style>
                  body{
                      background: white;
                      justify-content: center;
                      display: flex;
                  }
                  dialog{
                      border: 1px solid #ccc !important;
                       width: 50%;
                       height: 38%;
                       display: flex;
                       justify-content: center;
                       flex-direction: column;
                       text-align: center;
                       box-shadow: 2px 2px 9px rgb(196, 192, 192);
                       margin-top: 10%;
                    }
                  
      .btn {
          background-color: #48d1cc;
          color: white;
          padding: 10px 10px;
          margin: 4px 0;
          border: none;
          cursor: pointer;
          width: 20%;
      }
      .btn:hover{
          box-shadow: 2px 2px 9px rgb(195, 190, 190);
      }
       h2,h3{
          color: green;
       }
       @media screen and (max-width:900px) {
          dialog{
                      border: 1px solid #ccc !important;
                       width: 70%;
                       height: 30%;
                       display: flex;
                       justify-content: center;
                       flex-direction: column;
                       text-align: center;
                       box-shadow: 2px 2px 9px rgb(196, 192, 192);
                      margin-top: 34%;
      }
      .btn {
          background-color: #48d1cc;
          color: white;
          padding: 10px 10px;
          margin: 4px 0;
          border: none;
          cursor: pointer;
          width: 30%;
      }
      h1,h2,h3{
          font-size: 16px;
      }
       }
               </style>